.hex {
  width: 150px;
  height: 130px; /* width*√3/2 */
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: #3cb371;
  transform: rotate(90deg);
  
  .hex-content {
    display: flex;
    flex-direction: column;
    transform: rotate(-90deg);
  }
  
  &.grass {
    background-color: green;
  }
  
  &.desert {
    background-color: sandybrown;
  }

  &.destination {
    background-color: blue;
  }

  &.enemy {
    background-color: red;
  }

  &.ally {
    background-color: green;
  }

  &.selected {
    background-color: lightblue;
  }

  &.ofuscated {
    background-color: grey;
  }
}

