.hex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  margin: 2px;
  border: 5px solid black;
  border-radius: 100px;

  &.selected {
    border-color: lightblue;
  }

  &.destination {
    border-color: blue;
  }

  &.enemy {
    border-color: red;
  }

  &.ally {
    border-color: green;
  }

  &.ofuscated {
    background-color: grey;
  }
  
  &.grass {
    background-color: green;
  }
  
  &.desert {
    background-color: brown;
  }
}

