.shop-button {
  margin-right:5px;
  flex-grow: 1;

  .type {
    color: purple;
    margin-right: 10px;
  }

  .price {
    color: coral;
  }
}

.info {
  margin-top: 5px;
  color: blue;
  cursor: pointer;
}