.action-menu-container {
  position: fixed;
  top: 10px;
  left: auto;
  right: 10px;

  .action-menu {
    border: 1px solid black;
    padding: 8px;
    display: flex;
    flex-direction: column;

    button{
      margin-bottom: 5px;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}

